---

version: '3'
networks:
  {{ org_name }}-network:
    external: true
  traefik-frontend:
    external: true

volumes:
  rocketchat_db_data:
  rocketchat_uploads:
  admin_service_vol:
  therapist_service_vol:
  patient_service_vol:

services:
  {{ admin_service }}:
    container_name: {{ admin_service }}
    image: {{ image_name }}/admin-{{ org_name }}-service:{{ admin_service_git_commit_id.after[:7] }}
    restart: unless-stopped
    environment:
      LOCAL_USER_ID: 1000
    networks:
      - {{ org_name }}-network
    volumes:
      - ./config/adminservice/storage:/var/www/storage

  {{ therapist_service }}:
    container_name: {{ therapist_service }}
    image: {{ image_name }}/therapist-{{ org_name }}-service:{{ therapist_service_git_commit_id.after[:7] }}
    restart: unless-stopped
    environment:
      LOCAL_USER_ID: 1000
    networks:
      - {{ org_name }}-network
    volumes:
      - ./config/therapistservice/storage:/var/www/storage
    depends_on:
      - {{ admin_service }}

  {{ patient_service }}:
    container_name: {{ patient_service }}
    image: {{ image_name }}/patient-{{ org_name }}-service:{{ patient_service_git_commit_id.after[:7] }}
    restart: unless-stopped
    environment:
      LOCAL_USER_ID: 1000
    networks:
      - {{ org_name }}-network
    volumes:
      - ./config/patientservice/storage:/var/www/storage
    depends_on:
      - {{ admin_service }}

  {{ krakend_service }}:
    container_name: {{ krakend_service }}
    image: {{ image_name }}/{{ org_name }}-krakend:{{ krakend_git_commit_id.after[:7] }}
    restart: unless-stopped
    networks:
      - {{ org_name }}-network

  {{ rocketchat_service }}:
    container_name: {{ rocketchat_service }}
    image: rocketchat/rocket.chat:4.4.1
    restart: unless-stopped
    networks:
      - {{ org_name }}-network
      - traefik-net
    command: >
      bash -c
        "for i in `seq 1 30`; do
          node main.js &&
          s=$$? && break || s=$$?;
          echo \"Tried $$i times. Waiting 5 secs...\";
          sleep 5;
        done; (exit $$s)"
    volumes:
      - rocketchat_uploads:/app/uploads
    environment:
      - PORT=3000
      - ROOT_URL=https://chat.opentelerehab.com
      - MONGO_URL=mongodb://{{ rocketchat_service }}-db:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://{{ rocketchat_service }}-db:27017/local
    depends_on:
      - {{ rocketchat_service }}-db
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.rocketchat.rule=Host(`chat-{{ org_domain }}`)'
      - 'traefik.http.routers.rocketchat.service=rocketchat'
      - 'traefik.http.services.rocketchat.loadbalancer.server.port=3000'

  {{ rocketchat_service }}-db:
    container_name: {{ rocketchat_service }}-db
    image: mongo:4.0
    networks:
      - {{ org_name }}-network
    volumes:
      - rocketchat_db_data:/data/db
    command: mongod --smallfiles --oplogSize 512 --replSet rs0 --storageEngine=mmapv1

  {{ rocketchat_service }}-db-init-replica:
    container_name: {{ rocketchat_service }}-db-init-replica
    image: mongo:4.0
    networks:
      - {{ org_name }}-network
    command: >
      bash -c
        "for i in `seq 1 30`; do
          mongo {{ rocketchat_service }}-db/rocketchat --eval \"
            rs.initiate({
              _id: 'rs0',
              members: [ { _id: 0, host: 'localhost:27017' } ]})\" &&
          s=$$? && break || s=$$?;
          echo \"Tried $$i times. Waiting 5 secs...\";
          sleep 5;
        done; (exit $$s)"
    depends_on:
      - {{ rocketchat_service }}-db

  admin-{{ org_name }}-webapp:
    container_name: admin-{{ org_name }}-webapp
    image: {{ image_name }}/{{ stage }}/admin-{{ org_name }}-webapp:{{ admin_webapp_git_commit_id.after[:7] }}
    restart: unless-stopped
    networks:
      - {{ org_name }}-network
      - traefik-frontend
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.admin_webapp.rule=Host(`admin-{{ org_domain }}`)'
      - 'traefik.http.routers.admin_webapp.service=admin_webapp'
      - 'traefik.http.services.admin_webapp.loadbalancer.server.port=80'
    depends_on:
      - {{ krakend_service }}

  therapist-{{ org_name }}-webapp:
    container_name: therapist-{{ org_name }}-webapp
    image: {{ image_name }}/{{ stage }}/therapist-{{ org_name }}-webapp:{{ therapist_webapp_git_commit_id.after[:7] }}
    restart: unless-stopped
    networks:
      - {{ org_name }}-network
      - traefik-frontend
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.therapist_webapp.rule=Host(`therapist-{{ org_domain }}`)'
      - 'traefik.http.routers.therapist_webapp.service=therapist_webapp'
      - 'traefik.http.services.therapist_webapp.loadbalancer.server.port=80'
    depends_on:
      - {{ krakend_service }}

